language: go
matrix:
  include:
    - go: 1.7.x
    - go: 1.8.x
    - go: tip
  allow_failures:
    - go: tip
dist: trusty
sudo: false
addons:
  apt:
    sources:
    - sourceline: ppa:masterminds/glide
    packages:
    - glide
install:
  - glide install
  - go build
script:
  - echo "Skip tests..."
after_script:
  - go test -race -v $(glide novendor)
